@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: #e5e7e9;
  padding: 50px 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #f4f6f7;
}
.container .img_div {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px 0px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
}
.container .animate {
  animation: rotate 5s linear infinite;
  transition: all 5s ease;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.img_div img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.container .control {
  margin: auto;
}

.container i {
  cursor: pointer;
  padding: 0px 30px;
}
.container h1,
h2 {
  text-transform: capitalize;
}
h1 {
  color: #111;
}
h2 {
  color: #cacfd2;
}
.bar {
  width: 100%;
  margin: 10px 0px;
}
.bar .time {
  display: flex;
  justify-content: space-between;
}
.bar .progress {
  margin: 10px 0px;
  height: 10px;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
}
.bar .progress .progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: #111;
  border-radius: 50px;
  cursor: pointer;
}

#play {
  padding: 10px 15px;
  border-radius: 50%;
  background-color: #111;
  color: #fff;
}
#play:hover {
  background-color: #fff;
  color: #111;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

@media (max-width: 1024px) {
  body {
    padding-bottom: 860px !important;
  }
}
@media (max-width: 768px) {
  body {
    padding-bottom: 530px !important;
  }
}
@media (max-width: 668px) {
  body {
    padding-bottom: 230px !important;
  }
}
@media (max-width: 540px) {
  body {
    padding-bottom: 200px !important;
  }
}
@media (max-width: 510px) {
  body {
    padding-bottom: 50px !important;
  }
}
@media (max-width: 414px) {
  body {
    padding-bottom: 220px !important;
  }
}
@media (max-width: 400px) {
  body {
    padding-bottom: 180px !important;
  }
}
